html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
}

@font-face {
    font-family: Langdon;
    src: url ('fonts/Langdon.otf');
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/roboto/Roboto-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('fonts/roboto/Roboto-BlackItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/roboto/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BoldCondensed';
    src: url('fonts/roboto/Roboto-BoldCondensed.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BoldCondensedItalic';
    src: url('fonts/roboto/Roboto-BoldCondensedItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url('fonts/roboto/Roboto-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('fonts/roboto/Roboto-Condensed.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-CondensedItalic';
    src: url('fonts/roboto/Roboto-CondensedItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('fonts/roboto/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/roboto/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('fonts/roboto/Roboto-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fonts/roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url('fonts/roboto/Roboto-MediumItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fonts/roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('fonts/roboto/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url('fonts/roboto/Roboto-ThinItalic.ttf');
    font-weight: normal;
    font-style: normal;
}
.navbar-header {
    background-color: #FFFFFF;
}

.navbar-default {
    color: #403E4C;
    border-color: rgba(34,34,34,.05);
    font-family: Langdon;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    background-image: none;
    background-color: #FFFFFF;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: Langdon;
    font-size: 28px;
    line-height: 32px;
    color: #403E4C;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #66637A;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 20px;
    color: #66637A;
    margin-top: 5px;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #403E4C;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #403E4C!important;
}


@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: #FFFFFF;
        color: #403E4C;
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #66637A;
        background-color: #FFFFFF;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #403E4C;
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #66637A;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: #FFFFFF;
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: #403E4C;
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #403E4C;
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #66637A;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #403E4C;
    }
}

header {
    height: 100%;
    text-align: center;
    color: white;
    background: url(img/header-pic-cropped.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro {
    position: relative;
/*    padding-top: 200px;*/
    padding-top: 40px;
    text-align: center;
}

header .intro #intro-title h1 {
    font-family: Langdon;
    text-transform: uppercase;
/*    font-size: 120px;*/
    font-size: 68px;
    text-shadow: 1px 1px #403E4C;
}

header .intro #intro-copy p {
/*    margin: 20px 60px 60px;*/
    font-family: Roboto-Light;
/*    font-size: 22px;*/
    font-size: 18px;
    margin: 20px 30px 60px;
}

header .intro #products-button {
    padding: 15px 15px 10px 15px;
    background-color: #940315;
    font-family: Langdon;
    font-size: 28px;
    border: 2px solid #FFF;
    text-transform: uppercase;
    transition: all 0.3s ease-out;
    border-radius: 8px;
}

header .intro #products-button:hover {
    background: #5C0009;

}
#products, #address {
    line-height: normal;
}
#products h2 {
    font-family: Langdon;
    text-transform: uppercase;
    font-size: 50px;
    color: #940315;
}

#products h4 {
    font-size: 16px;
    font-family: 'Roboto-Bold';
}

#products #product-row-2, #products #product-row-3 {
    padding-top: 60px;
}

#products #product-row-3 {
    padding-bottom: 60px;
}

#products .product-photo {
    width: 300px;
    height: 200px;
}

#products .product-section-heading {
    font-family: 'Roboto-Bold';
}

#products .product-section-subhead {
  font-family: 'Roboto-Regular';
}

#products .product-list, #products .product-footer {
    font-family: 'Roboto-Light';
    font-size: 20px;
    line-height: 1.25em;
}

#products .product-footer {
    margin-top: 20px;
}

#products .product-footer a {
    color: #940315;
}

#products strong {
    font-family: 'Roboto-Bold';
    color: #940315;
    font-size: 16px;
    padding-left: 5px;
}

#contact {
    background-color: #403E4C;
    font-family: 'Roboto-Light';
    font-size: 20px;
    padding-bottom: 30px;
}

#contact h2 {
    font-family: Langdon;
    text-transform: uppercase;
    font-size: 50px;
}

#contact a {
    color: #9B96A3;
}

#contact strong {
    font-family: 'Roboto-Regular';
}

#contact .icons {
    margin-top: 30px;
}

#contact .icons p {
    font-size: 18px;
}

#contact #contact-address {
    margin-top: 30px;
}

.no-padding {
    padding: 0;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
/*    max-height: 350px;*/

}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

#copyright {
    padding: 20px 0;
}

@media (min-width: 768px) {
    header .intro {
        padding-top: 100px;
    }

    header .intro #intro-title h1 {
        font-size: 100px;
    }
    header .intro #intro-copy p {
        margin: 20px 60px 60px;
        font-size: 22px;
    }

}

@media (min-width: 960px) {
    header .intro {
        padding-top: 200px;
    }

    header .intro #intro-title h1 {
        font-size: 120px;
    }

    header .intro #intro-copy p {
        margin: 20px 120px 60px;
    }

}





/*$small: 480px;
$medium: 768px;
$large: 960px;
$xlarge: 1200px;
$scroll: 18px;*/
